.background-pic {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0px;
    background-image: url(../../images/somePic.jpg); 
    background-position-y: -800px;
    background-position-x: 306px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 86%;
    background-attachment: fixed;
    filter: blur(0.4px);
    z-index: 1;
    gap: 300px;
}
.texts{
    filter: blur(0.7px);
    margin: 160px auto;
    width: fit-content;
}
.animation-text ,.name-text{
    font-size: 60px;
    text-align: center;
    color: #f1efef;
    z-index: 1;
    font-family: quick;
}